<footer class="footer bg-dark py-4 mt-auto">
    <div class="container">
        <span class="text-muted ">
            &copy;CampVille <br>
            managed by Kartik kain
        </span>
    </div>

</footer>